.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #4D7094;
}

.button-warning {
    background: #4D7094;
}

* {
  font-family: Arial;
}
.container-div {
  height: 100% !important;
}

.balance-list {
  display: inline-block;
}

.balance-list h3 {
  margin-right: 5px;
  float: left;
}

.purchase-form-field {
    margin-left: 5px;
}

.purchase-list {
  margin-top: 10px;
  background-color: #E6F1FC;
  width: 100%;
}

body {
  background-color: #F5F5F5;
}
